# get rid of environment variables and virtual env
.env
.venv/

# get rid of ml flow storage or db related
data/*
!data/sql/
!data/sql/*

# get rid of mlruns
mlruns/


# get rid of unecessary eda
eda/*
!eda/regime_model_eda.ipynb

# ignore everything in pipeline except the py files
pipeline/*
!pipeline/pl_api_to_bronze.py
!pipeline/pl_bronze_to_silver.py
!pipeline/pl_silver_to_gold.py
!pipeline/run_pipeline.ps1

# tget rid of project_assets
assets/*
!assets/research_paper/
!assets/research_paper/*
!assets/images/
!assets/images/*

# get rid of pyache etc.
__pycache__/
*.pyc
*.pyo
.DS_Store
Thumbs.db

env.yaml